asgiref==3.11.1
certifi==2026.2.25
charset-normalizer==3.4.7
Django==6.0.3
idna==3.11
psycopg==3.3.3
psycopg-binary==3.3.3
requests==2.33.1
sqlparse==0.5.5
stripe==15.0.1
typing_extensions==4.15.0
urllib3==2.6.3
